<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form action="#" th:action="@{/create}" th:object="${user}" method="post">
    <label for="username">User name</label>
    <input type="text" th:field="*{username}" id="username" placeholder="User name">
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <p>
        <select name="nameRoles" multiple size="2">
            <option th:each="role : ${roles}"
                    th:value="${role.RoleName}"
                    th:text="${role.getRoleName()}">
            </option>
        </select>
    </p>
    <input type="submit" value="Add User">
</form>
<form th:action="@{'/logout'}">
    <input type="submit" , value="Logout"/>
</form>
</body>
</html>